.checkboxView {
	width: auto;
	&.mdl-switch {
		margin: 0 20px;
	}
	&.color-accent {
		.isAnimating {
			background-color: rgba-tpl($color-accent, 0.2);
		}
		/*
				* Radio
				*/
		.mdl-radio__outer-circle {
			border: 2px solid rgba-tpl($color-accent, 0.54);
			.mdl-radio.is-checked & {
				border: 2px solid $color-accent;
			}
			fieldset[disabled] .mdl-radio,
			.mdl-radio.is-disabled & {
				border: 2px solid rgba-tpl($color-accent, 0.26);
			}
		}
		.mdl-radio__inner-circle {
			background: $color-accent
		}

		/*
				* Checkbox
				*/
		.mdl-checkbox__box-outline {
			border: 2px solid rgba-tpl($color-accent, 0.54);
			.mdl-checkbox.is-checked & {
				border: 2px solid $color-accent;
			}
			fieldset[disabled] .mdl-checkbox &,
			.mdl-checkbox.is-disabled & {
				border: 2px solid rgba-tpl($color-accent, 0.26);
				cursor: auto;
			}
		}
		.mdl-checkbox__focus-helper {
			.mdl-checkbox.is-focused.is-checked & {
				background-color: rgba-tpl($color-accent, 0.26);
			}
		}
		&.mdl-checkbox.is-checked {
			.mdl-checkbox__tick-outline {
				background: $color-accent url("#{$checkbox-image-path}/tick.svg?embed") !important;
			}
		}
		&.mdl-checkbox.is-checked.is-disabled & {
			background: rgba-tpl($color-accent, 0.26) url("#{$checkbox-image-path}/tick.svg?embed") !important;
		}
		/*
				* IconToggle
				*/
		.mdl-icon-toggle__label {
			color: rgba-tpl($color-accent, 0.5);
		}
		&.mdl-icon-toggle.is-checked {
			.mdl-icon-toggle__label {
				color: $color-accent;
			}
		}
		&.mdl-icon-toggle.is-disabled {
			.mdl-icon-toggle__label {
				color: rgba-tpl($color-accent, 0.26);
			}
		}
		/*
				* Switch
				*/
		.mdl-switch__track {
			background: rgba-tpl($color-accent, 0.26);
		}
		&.mdl-switch.is-checked {
			.mdl-switch__track {
				background: rgba-tpl($color-accent, 0.5);
			}
		}
		&.mdl-switch.is-disabled {
			.mdl-switch__track {
				background: rgba-tpl($color-accent, 0.12);
			}
		}

		.mdl-switch__thumb {
			//background: $color-accent-contrast;
		}
		&.mdl-switch.is-checked {
			.mdl-switch__thumb {
				background: $color-accent;
			}
		}
		&.mdl-switch.is-disabled {
			.mdl-switch__thumb {
				background: rgba-tpl($color-accent, 0.12);
			}
		}
	}
	/*
		* ContrastColor
		*/
	&.color-contrast {
		.isAnimating {
			background-color: rgba-tpl($color-accent-contrast, 0.2);
		}

		/*
				* Radio
				*/
		.mdl-radio__outer-circle {
			border: 2px solid rgba-tpl($color-accent-contrast, 0.54);
			.mdl-radio.is-checked & {
				border: 2px solid $color-accent-contrast;
			}
			fieldset[disabled] .mdl-radio,
			.mdl-radio.is-disabled & {
				border: 2px solid rgba-tpl($color-accent-contrast, 0.26);
			}
		}
		.mdl-radio__inner-circle {
			background: $color-accent-contrast
		}
		/*
				* Checkbox
				*/
		.mdl-checkbox__box-outline {
			border: 2px solid rgba-tpl($color-accent-contrast, 0.54);
			.mdl-checkbox.is-checked & {
				border: 2px solid $color-accent-contrast;
			}
			fieldset[disabled] .mdl-checkbox &,
			.mdl-checkbox.is-disabled & {
				border: 2px solid rgba-tpl($color-accent-contrast, 0.26);
				cursor: auto;
			}
		}
		.mdl-checkbox__focus-helper {
			.mdl-checkbox.is-focused.is-checked & {
				background-color: rgba-tpl($color-accent-contrast, 0.26);
			}
		}
		&.mdl-checkbox.is-checked {
			.mdl-checkbox__tick-outline {
				background: $color-accent-contrast url("#{$checkbox-image-path}/tick.svg?embed") !important;
			}
		}
		&.mdl-checkbox.is-checked.is-disabled & {
			background: rgba-tpl($color-accent-contrast, 0.26) url("#{$checkbox-image-path}/tick.svg?embed") !important;
		}
		/*
				* IconToggle
				*/
		.mdl-icon-toggle__label {
			color: rgba-tpl($color-accent-contrast, 0.5);
		}
		&.mdl-icon-toggle.is-checked {
			.mdl-icon-toggle__label {
				color: $color-accent-contrast;
			}
		}
		&.mdl-icon-toggle.is-disabled {
			.mdl-icon-toggle__label {
				color: rgba-tpl($color-accent-contrast, 0.26);
			}
		}
	}
	/*
		* PrimaryColor
		*/
	&.color-primary {
		.isAnimating {
			background-color: rgba-tpl($color-primary, 0.2);
		}
		/*
				* Radio
				*/
		.mdl-radio__outer-circle {
			border: 2px solid rgba-tpl($color-primary, 0.54);
			.mdl-radio.is-checked & {
				border: 2px solid $color-primary;
			}
			fieldset[disabled] .mdl-radio,
			.mdl-radio.is-disabled & {
				border: 2px solid rgba-tpl($color-primary, 0.26);
			}
		}
		.mdl-radio__inner-circle {
			background: $color-primary
		}
		/*
				* Checkbox
				*/
		.mdl-checkbox__box-outline {
			border: 2px solid rgba-tpl($color-primary, 0.54);
			.mdl-checkbox.is-checked & {
				border: 2px solid $color-primary;
			}
			fieldset[disabled] .mdl-checkbox &,
			.mdl-checkbox.is-disabled & {
				border: 2px solid rgba-tpl($color-primary, 0.26);
				cursor: auto;
			}
		}
		.mdl-checkbox__focus-helper {
			.mdl-checkbox.is-focused.is-checked & {
				background-color: rgba-tpl($color-primary, 0.26);
			}
		}
		&.mdl-checkbox.is-checked {
			.mdl-checkbox__tick-outline {
				background: $color-primary url("#{$checkbox-image-path}/tick.svg?embed") !important;
			}
		}
		&.mdl-checkbox.is-checked.is-disabled & {
			background: rgba-tpl($color-primary, 0.26) url("#{$checkbox-image-path}/tick.svg?embed") !important;
		}

		/*
				* IconToggle
				*/
		.mdl-icon-toggle__label {
			color: rgba-tpl($color-primary, 0.5);
		}
		&.mdl-icon-toggle.is-checked {
			.mdl-icon-toggle__label {
				color: $color-primary;
			}
		}
		&.mdl-icon-toggle.is-disabled {
			.mdl-icon-toggle__label {
				color: rgba-tpl($color-primary, 0.26);
			}
		}
		/*
				* Switch
				*/
		.mdl-switch__track {
			background: rgba-tpl($color-primary, 0.26);
		}
		&.mdl-switch.is-checked {
			.mdl-switch__track {
				background: rgba-tpl($color-primary, 0.5);
			}
		}
		&.mdl-switch.is-disabled {
			.mdl-switch__track {
				background: rgba-tpl($color-primary, 0.12);
			}
		}

		.mdl-switch__thumb {
			background: $color-primary-contrast;
		}
		&.mdl-switch.is-checked {
			.mdl-switch__thumb {
				background: $color-primary;
			}
		}
		&.mdl-switch.is-disabled {
			.mdl-switch__thumb {
				background: rgba-tpl($color-primary, 0.12);
			}
		}
	}
}